@import "_vars";
@import "mixins";


* {
  @include boxSizing;
  &:before, &:after {
    @include boxSizing;
    content: '';
    display: block;
  }
  font-family: 'Open Sans', sans-serif;
}

ul, ol, li {
  -webkit-padding-start: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {

}

body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 15px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

a {
  text-decoration: none;
}

.rel {
  position: relative;
  margin: 10px;
}

.container {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.my-container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 7777;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
}

.hide {
  display: none;
}

.show {
  display: block;
}

// flexbox grid //
.flex-container {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.center {
  justify-content: center;
  align-items: center;
}



