
//
/* Grid Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {



}
@media only screen and (min-width: 1199px) {



}

/**/
/* Grid Medium Devices, Desktops */

@media only screen and (max-width: 992px) {



}

/**/

/* Grid Small Devices, Tablets */
@media only screen and (max-width: 768px) {



}
@media only screen and (min-width: 768px) {



}


/* Grid Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {



}
@media only screen and (min-width: 320px) {



}