//fonts
$font-normal: 'Open Sans', sans-serif;
$font-light: 'Open Sans Light', sans-serif;
$fz-menu: 30px;
$fz-headers: 25px;
$fz-titles: 20px;
$fz-main: 15px;
$icon-size: 24px;
$uppercase: uppercase;
//fonts


//indent & borders & radius
$border-default: 1px solid;
$border-radius: 5px;
$circle: 50%;
//indent & borders & radius



$default-gutter: 5px;
//colors
$border-color: rgba(70,70,70,1);
$white: #fff;
$black: #fff;
$facebook: #4267b2;
$linkedIn: #0077B5;
$gray: #d9d9d9;
$hover-text: #bc243c;
$text-color: #4d4d4d;
$purple: #292F6D;
$gray-purple: #D6D5E3;
$roze: #CB3266;
$default-color: $purple;
//colors